.toolbar{position:fixed;top:26px;right:0;z-index:89;outline:none}
.toolbar img{margin-right:10px;cursor:pointer;opacity:0.6}
.hi5_dialog{border:1px solid #222;padding:2em;border-radius:8px;background-color:white}

#hi5_notifer_all{
	position:fixed; bottom: 0; right: 6px; z-index:999;width:324px;
}

.hi5_notifer{
	padding: 12px;margin: 0 0 6px 0;background-color: #030;
	opacity: 0.8; color: #fff; font: normal 13px "Droid Sans", sans-serif;
    border-radius: 3px; box-shadow: #999 0 0 12px; width: 300px
}

.hi5_notifer:hover{
	opacity:1;box-shadow:#000 0 0 12px;
}

.hi5_notifer_title{
	font-size:1.1em;font-weight:bold;padding-bottom:6px;
}

.hi5_notifer_icon{
	float:left;width:1.2em;height:1.2em;margin-right:.3em;
}

.hi5_notifer_button{
	float:right;width:25px;height:25px;margin-left:.3em;
	cursor:pointer;
}
.hi5_notifer_count{
	color:red;float:right;
}


